.animate-float {
  animation: float infinite 2s linear;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
